@import './constants.css';

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./assets/font/IBMPlexMono-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./assets/font/IBMPlexMono-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./assets/font/IBMPlexMono-Regular.ttf');
  font-weight: 400;
}


html,
body {
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  place-content: center;
  height: 100vh;
  background: var(--bg-color);
  font-family: 'IBM Plex Mono', monospace;
  grid-template-columns: auto 220px;
}